
*{
margin: 0;
padding: 0;
}
.container{
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  background-color: rgb(63, 59, 59);


}

.cards{
  height: 100vh;
  width: 50vw;
  background-color: white;
 margin: auto;
 margin-bottom: 10px;
 color: rgb(0, 0, 0);

}
